@model IEnumerable<Library.Models.IssuedBook>

@{
    ViewBag.Title = "Message";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p> Book is Out of Stock</p>
    </div>
</body>
</html>
