@{
    Page.Title = "ErrorMessage";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div>
    @if (ViewBag.error != null)
    {
        <span class="badge badge-danger">@ViewBag.error</span>
    }

</div>