@{
    // ViewBag.Title = "About";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h2 style="color:red">About Application</h2>

<br />
<br />
<p> * It's a Mobile access, anytime, anywhere and it is user_freindly</p>
<p> * You can search add, update, and view library materials </p>
<p> * One can track any information through this system</p>
<p> * Its cost effective and easy to install</p>


<footer style="position:absolute; bottom:0px; height:50px; left:550px; right:100px; float:left;  ">
    <p> Created by Srinivas & Shwetha </p>
</footer>


