@{
    // ViewBag.Title = "About";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h2>About Application</h2>


<p>It's a Mobile access, anytime, anywhere and it is user_freindly</p>
<p>You can search add, update, and view library materials </p>
<p>One can track any information through this system</p>
<p>Its cost effective and easy to install</p>





