


@{
    // ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h2 style="color:red">Contact Page</h2>

<br />
<br />
<address>
    Indium Software Library<br />
    Chennai, Mob: 98052-6399 <br />
    Pin Code:571602
</address>

<address>
    <strong>Shwetha:</strong>   <a href="mailto:Shwetha@gmail.com">Shwetha@gmail.com</a><br /> 
    <strong>Srinivas:</strong> <a href="mailto:Srinivasroy@gmail.com">Srinivas@gmail.com</a>
</address>

<footer style="position:absolute; bottom:0px; height:50px; left:550px; right:100px; float:left;  ">
    <p> Created by Srinivas & Shwetha </p>
</footer>