


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@*<h2>Index</h2>

@Html.ActionLink("Login", "Login", "Home")
<br />

@Html.ActionLink("Register", "Register", "Home")
<br />

@Html.ActionLink("AdminLogin", "AdminLogin", "Home")*@