<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Library Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr.js"></script>
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@

    <style>
        body {
            background-image: url("https://cdn.pixabay.com/photo/2015/12/05/08/25/fairy-tale-1077863_960_720.jpg");
            background-repeat: no-repeat;
            background-size:unset;
            background-position-x:right;
            
           

        }
        
    </style>
</head>
<body>


    <div class="navbar navbar-fixed-top navbar-light" style="background-color:lightgray">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("Library Management System", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="float:right;">
                <ul class="nav navbar-nav">
                  
                    <li>  @Html.ActionLink("Register", "Register", "Home")</li>

                </ul>
            </div>
        </div>
    </div>



        <div class="container body-content">
            @RenderBody()
            <div>

           
               
                <footer style="position:absolute; bottom:0px; height:50px; left:550px; right:100px; overflow:auto; color:white; ">
                    <p> Created by Srinivas & Shwetha </p>
                </footer>
            </div>
        </div>

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
        <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>